body {
  background: #f5f5f5;
}

label {
  margin-top: 10px;
}

input,
select {
  border: 1px solid #888;
  line-height: 14px;
  padding: 7px 12px;
  width: 200px;
}

button {
  background-color: black;
  color: white;
  --webkit-appearance: none;
  border: 0;
  line-height: 30px;
}

td {
  background-color: white;
}

body,
input,
select,
button,
td {
  font-family: Arial, Helvetica, sans-serif;
}

.patientListItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

button:disabled {
  background-color: grey;
}